<main class="w-full">
    <ng-container *hasPermission="{
      has: [PERMISSIONS_DATA.ALL,PERMISSIONS_DATA.READ_GLOBAL_ACCOUNT_STATUS],
      mode: 'any',
      not: PERMISSIONS_DATA.READ_GLOBAL_ACCOUNT_STATUS_BETWEEN
    }">
            <app-mla-global />
        </ng-container>

        <ng-container *hasPermission="{
      has: [PERMISSIONS_DATA.READ_GLOBAL_ACCOUNT_STATUS_BETWEEN],
      mode: 'any',
      not: PERMISSIONS_DATA.READ_GLOBAL_ACCOUNT_STATUS
    }">
            <app-company-global />
        </ng-container>
</main>