<div class="p-2 min-w-[260px] max-w-[90vw]" #dialogRef *transloco="let t">
    <div mat-dialog-title class="m-0 p-0 text-center text-white bg-accent pb-2">
        <h1 class="font-medium m-0 p-0">
            {{ t(title) }}
        </h1>
        <p class="text-sm text-gray-400 m-0 p-0">
            {{ description }}
        </p>
    </div>
    <mat-dialog-content class="p-4 m-0">
        <div class="flex flex-col items-center gap-1 p-0 m-0">
            <p class="text-sm font-normal text-center m-0 p-0">
                {{ t(message) }}
            </p>
            <div *ngIf="data.showDateInput" class="w-full flex flex-col items-center mt-1">
                <label class="block text-md font-medium text-gray-500 mb-0">Date de confirmation ({{ now | date:'dd/MM/yyyy' }} si non précisé)</label>
                <input type="date" [(ngModel)]="date" class="border border-gray-200 rounded px-1 py-0.5 focus:ring-blue-400 focus:border-blue-400 text-sm w-32"/>
                <span class="text-md text-gray-400 mt-0.5">Si aucune date n'est saisie, la date du serveur sera utilisée.</span>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions class="flex justify-end gap-1 mt-1 p-0 m-0">
        <button mat-button
            class="px-2 py-0.5 text-sm min-w-0 bg-accent hover:bg-accent-hover text-white"
            mat-flat-button
            (click)="close()"
        >
            Fermer
        </button>
        <button mat-button
            class="px-2 py-0.5 text-sm min-w-0 bg-primary hover:bg-primary-hover text-white"
            mat-flat-button
            (click)="confirm()"
        >
            Confirmer
        </button>
    </mat-dialog-actions>
</div>