<div class="p-6" *transloco="let t">
    <h2 class="text-xl font-semibold mb-4">{{ t('entities.statement.title') }}</h2>
    <!-- Mois et année (sélecteur) -->
    <div class="flex justify-between items-center gap-4 mb-4 bg-white p-4 rounded-lg border border-gray-100">
        <div class="flex items-center gap-4 flex-1">
            <mat-form-field appearance="outline" class="w-40 ">
                <mat-label>{{ t('entities.statement.month') }}</mat-label>
                <mat-select [(value)]="selectedMonth">
                    <mat-option *ngFor="let m of months" [value]="m.value">{{ m.label }}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-32">
                <mat-label>{{ t('entities.statement.year') }}</mat-label>
                <input matInput type="number" [(ngModel)]="selectedYear" />
            </mat-form-field>
        </div>

        <button mat-raised-button color="primary" (click)="downloadPdf()">
            <mat-icon>download</mat-icon>
            {{ t('buttons.download-pdf') }}
        </button>
    </div>

</div>