<main class="w-full">
    <ng-container *hasPermission="{
      has: [PERMISSIONS_DATA.ALL,PERMISSIONS_DATA.READ_SPECIFIC_STATEMENTS],
      mode: 'any',
      profile: MANAGEMENT_ENTITY_TYPES[1]
    }">
            <app-mla-detailed />
        </ng-container>

        <ng-container *hasPermission="{
      has: [PERMISSIONS_DATA.ALL,PERMISSIONS_DATA.READ_SPECIFIC_STATEMENTS],
      mode: 'any',
      profile: MANAGEMENT_ENTITY_TYPES[0]
    }">
            <app-company-detailed />
        </ng-container>
</main>