<!-- Sign in form -->
<form class="mt-8 space-y-6" #form [formGroup]="formGroup" *transloco="let t">

    <div class="flex flex-col gap-6">
        <div class="flex gap-6">
            <mat-form-field class="w-full" appearance="outline">
                <mat-label>
                    {{ t('entities.management_entity.form.fields.name') }}
                </mat-label>
                <input id="name" matInput [formControlName]="'name'">
                <mat-error *ngIf="formGroup.get('name')?.hasError('required')">
                    {{ t('form.errors.required') }}
                </mat-error>
            </mat-form-field>

            <mat-form-field class="w-full" appearance="outline">
                <mat-label>
                    {{ t('entities.management_entity.form.fields.acronym') }}
                </mat-label>
                <input id="acronym" matInput [formControlName]="'acronym'">
            </mat-form-field>
        </div>

        <mat-form-field class="w-full" appearance="outline">
            <mat-label>
                {{ t('entities.management_entity.form.fields.email') }}
            </mat-label>
            <input id="email" matInput [formControlName]="'email'">
            <mat-error *ngIf="formGroup.get('email')?.hasError('required')">
                {{ t('form.errors.required') }}
            </mat-error>
            <mat-error *ngIf="formGroup.get('email')?.hasError('email')">
                {{ t('form.errors.invalid-email') }}
            </mat-error>
        </mat-form-field>

        <div class="flex gap-6">
            <mat-form-field class="w-full" appearance="outline">
                <mat-label>
                    {{ t('entities.management_entity.form.fields.phone') }}
                </mat-label>
                <input id="phone" matInput [formControlName]="'phone'">
                <mat-error *ngIf="formGroup.get('phone')?.hasError('required')">
                    {{ t('form.errors.required') }}
                </mat-error>
            </mat-form-field>

            <mat-form-field class="w-full" appearance="outline">
                <mat-label>
                    {{ t('entities.management_entity.form.fields.gsm') }}
                </mat-label>
                <input id="gsm" matInput [formControlName]="'gsm'">
            </mat-form-field>

            <mat-form-field class="w-full" appearance="outline">
                <mat-label>
                    {{ t('entities.management_entity.form.fields.fax') }}
                </mat-label>
                <input id="fax" matInput [formControlName]="'fax'">
            </mat-form-field>
        </div>

        <mat-form-field class="w-full" appearance="outline">
            <mat-label>
                {{ t('entities.management_entity.form.fields.address') }}
            </mat-label>
            <input id="address" matInput [formControlName]="'address'">
            <mat-error *ngIf="formGroup.get('address')?.hasError('required')">
                {{ t('form.errors.required') }}
            </mat-error>
        </mat-form-field>

        <mat-form-field class="w-full" appearance="outline">
            <mat-label>
                {{ t('entities.management_entity.form.fields.registration-number') }}
            </mat-label>
            <input id="registration-number" matInput [formControlName]="'registrationNumber'">
        </mat-form-field>
    </div>


    <!-- Submit button -->
    <button mat-button matStepperNext class="mat-button-large  mt-6" mat-flat-button [color]="'primary'"
        [disabled]="formGroup.invalid" (click)="onNext()">
        {{ t('form.actions.next') }}
    </button>
</form>